 /* Custom CSS to make dropdowns open on hover */
 .navbar{
      position:fixed;
      /* margin-bottom: 200px; */
      width: 100%;
    }
 .dropdown:hover .dropdown-menu {
    display: block;
  }
  div > a:hover {
    color:rgb(67,186,255) !important;
  }
  ul,li{
    list-style-type: none;
    
  }
  #map-1,#map-2{
    border:2px solid green;
    height:200px;
    margin:30px;
  }
  /* #map{
    border:2px solid green;
    height:200px;
  }
  #map-1{
    border:2px solid green;
    height:200px;
  } */

  .nav-link:hover{
    color:black !important;

  }
  .container-3{
    background-color: rgb(34,31,60);
    color: white;
    padding: 60px;
    margin: auto;
    margin-top: 100px;
  }
  p{
      font-family:Arial, Helvetica, sans-serif;
      /* font-family: 'Times New Roman', Times, serif; */
      font-size: 18px;
    }
 a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
 }